body{
    min-height: 100hv;
    background-color: #f8f1f1;
}
.header-nav{
    background-color: #333;
}


/* Estilo para o menu responsivo */
.menu-lateral{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Oculta o menu por padrão */
    
}

.item-menu{
    padding: 10px;
    border-bottom:  solid #067579;
    border: #a14be7;
   
    
}

.item-menu,a:hover {
    color: rgb(145, 59, 129); /* Cor amarela ao passar o mouse */
   
}


.item-menu,a {
    text-decoration: none;
    color: #5ee6eb;
    display: block;
}

/* Estilo para o botão de clique */
.btn-expandir {
    background-image: linear-gradient(transparent, rgb(65, 112, 114));
    border: none;
    cursor: pointer;
    outline: none;
}

/* Ícone do botão */
.btn-expandir i {
    font-size: 24px;
}

/* Estilo para o perfil do fotógrafo */
.perfildo-forografo {
    text-align: center;
    margin-bottom: 20px;
    
}

.perfil-card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 5px solid linear #412f41 ;
    border-radius: 60px;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: linear-gradient(transparent, rgb(65, 112, 114))
}

.perfil-card h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo para exibir o perfil */
.perfil {
    display: none;
}

/* Estilo para exibir o perfil quando ativo */
.perfil-ativo .perfil {
    display: block;
}

/* Estilos adicionais */
.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}

.header {
    background-image: linear-gradient(transparent, rgb(65, 112, 114));
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
 /* Estilo para o perfil do fotógrafo */
 .cardstopcard-gallery-img {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
} */

/* Estilo para as destaques */   /* galeria */
.cards  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card   {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid rgb(65, 112, 114);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10 px;
}

.card h3{
    margin-bottom: 10px;
}

.card p{
    color: #666;
}


.cards  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card .h2{
    margin-bottom: 10px;
}

h1{
    font-size: 60px;
    background-image: linear-gradient(transparent, rgb(65, 112, 114));
    color:#FAFFFA;
    text-align: center;
    font-family: "Open Sans",sans-serif; 
   
}





/* footer */
.footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem;
    background-color: #141616;
    border-color: #277c8b;
    background-image: linear-gradient(transparent, rgb(85, 72, 110))
}

.footer a {
    color: inherit;
    color:  rgb(87, 189, 192);
}



