/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset de estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para a Navbar */
nav.navbar {
    background-image: linear-gradient(transparent, rgb(58, 161, 135));
}

.navbar .navbar-brand {
    color: white;
}

/* Estilos para o menu hamburger */
.burger {
    display: none;
}

@media screen and (max-width:768px) {
    .burger {
        display: block;
    }
}

/* Estilos para o carrossel */
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

/* Estilos para os cartões de fotos */
.card {
    margin-bottom: 20px;
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.1);
}

/* Estilos para o footer */
.footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
    color: #efefef;
    background-image: linear-gradient(transparent, rgb(58, 161, 135));
    background-color: black;
}

.footer a {
    color: inherit;
    color: #ccc;
}
