body {
    min-height: 100hv;
    background-color: #f8f1f1;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para o menu responsivo */
.menu-lateral{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Oculta o menu por padrão */
    
}

.item-menu{
    padding: 10px;
    border-bottom:  solid #067579;
    /* border: #a14be7; */
    border:#2168ecdc;
    border: #2168ecdc;
   
}

.item-menu, a:hover {
    /* color: rgb(76, 66, 74); Cor amarela ao passar o mouse */
    /* color:#2b8de8; */
    color: #f6f6f6dc;
}


.item-menu,a {
    text-decoration: none;
    /* color: #5ee6eb; */
    color:#2168ecdc ;
    display: block;
}

/* Estilo para o botão de clique */
.btn-expandir {
    background-image: linear-gradient(transparent, rgb(133, 178, 208));
    border: none;
    cursor: pointer;
    outline: none;
}

/* Ícone do botão */
.btn-expandir i {
    font-size: 24px;
}

.imagem_fotografo img {
    border-radius: 100px;
     
}

.imagem_fotografo {
    margin-bottom: 20px;
}


.card_fotografo {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    width: 350px;
    margin: 20px;
    padding: 15px;
    border-radius: 60px;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(transparent, rgb(133, 178, 208))
}

.perfil-card h2 {
    font-size: 20px;
    color: #0d0d0d;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo para exibir o perfil */
.perfil {
    display: none;
}

/* Estilo para exibir o perfil quando ativo */
.perfil-ativo .perfil {
    display: block;
}

/* Estilos adicionais */
.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #242323;
    color: #111010;
    margin: 0;
    width: 100%;
    position: fixed;
    opacity: 0.8;
}

.titulo {
    background-image: linear-gradient(transparent, rgb(150, 185, 209));
    padding: 100px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.informacoes_fotografo{
    display: flex;
    flex-direction: column;
    line-height: 30px;

}

/* .informacoes_fotografo span {
    line-height: 30px;
} */

h2{
    text-align: center;
}

span {
    font-size: large;
    font-weight:bolder;
}
/* 
 .cardstopcard-gallery-img {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}  */

/* Estilo para as destaques */   /* galeria */
.cards  {
    width: 100%;
    background-color: rgb(5, 69, 121);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card   {
    width: 300px;
    /* margin: 20px; */
    gap: 5px;
    padding: 5px;
    border: 2px solid white;
    /* border: 2px solid #A56CFF; Muita poluição visual */
    border-radius: 10px;
    box-shadow: 0px 0px 34px white;
    /* box-shadow: 0px 0px 34px #a46cffb2; Muita poluição visual*/
    text-align: center;
    position: relative;
    overflow: hidden;

}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transform: scale(2);
    transition: transform .5s ease-in-out;
}


.card:hover img{
    transform: scale(1.2);

}

.card h3{
    margin-bottom: 10px;
}

.card p{
    color: #666;
}


.cards  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.card .h2{
    margin-bottom: 10px;
}

h1{
    font-size: 60px;
    background-image: linear-gradient(transparent, rgb(133, 178, 208));
    color:#0a0a0a;
    text-align: center;
    font-family: "Open Sans",sans-serif; 
   
}

/* footer */
.footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    background-color: #474b4b;
    border-color: #27368b;
    background-image: linear-gradient(transparent, rgb(61, 60, 60))
   
}

.footer a {
    color: inherit;
    /* color:  rgb(133, 178, 208); */
    color: #2168ecdc;
    
}
