body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./desfok.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
/*caixa de formalrio de fundo transparente*/
.content-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);/*cores das fontes*/
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);/*fundo transparente do formulario*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* referenre a centralização do formulario*/
    border-radius: 10px;/*ondulação da borda da caixa do formulario*/
    font-size: 15px;
}
/*borda do formulario*/
fieldset{
    border: 3px solid rgb(119, 0, 255, 0.973);/*linha da borda que esta na cor lilás*/ 
    border-radius: 15PX;/*ondulação dos cantos da linha de borda" cadastre-se"*/
    padding: 5px;
    
}
/*caixa de legenda*/
legend{
    
    border: 2px solid rgb(0, 247, 255);/*borda da caixa de legenda "Cadastre-se"*/
    padding: 5px;/*altura da caixa de legenda*/
    text-align: center;/*centralização do texto*/
    background-color: rgba(0, 0, 0, 0.3);/*preenchimento da caixa de legenda*/
    border-radius: 10px;/*ondulação da caixa de legenda*/
    font-size: 25px;
    
}

input{
    /* display:inline; */
    margin: 2px;
    /* width: 40%; */
}
form{
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}
form input, form textarea{
    outline: unset; /*adição de mais uma borda e aplicação do mesmo padrão*/
    border-radius: 5px;
    padding: 2px;
}

.content-section{
    flex-direction: column;
}
/*area do placeholder*/
::-webkit-input-placeholder{
    color: rgb(134, 134, 143);
    text-align: center;
}
.estado{
    margin: 20px;
}
/*label{
    text-align: justify;
}*/
button{
    background-color: #6f00ff;
    border-radius: 5px;
    border-color: aqua;
    font-size: 15px;
    color: rgb(252, 252, 252);
    float: right;
    margin-bottom: 8px;
    margin-right: 20px;
    height: 40px;
}
.password{
    padding:2px;
}
/* select{
    margin: 15px;
    height: 20;
}
.inf_password{
    padding: 0px;
}
.labelInput{
    margin: 20px;
    padding: 2px;
} */
/* .reduc{
    width: 80px;
    height: 20px;
} */

/* .inputbox {
    display: flex;
    
} */

/* .area_nome {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.primeiro_nome, .segundo_nome {
    display: flex;
    align-items: center;
    width: 100%;
} */

/* .input_nome {
    width: 100%;
    margin-left: 2%;
} */