/* styles.css */

.wrapperContainer-dark {
    display: flex;
    background-color: #ffffff;
  
    
}

.container_sobre {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* position: relative; */
    color: #fff;
    padding: 20px;
    
    
}

.image-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre imagem e texto */
   
}

.container_sobre img {
    flex: 1 1 45%; /* A imagem ocupa cerca de 45% do espaço disponível */
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 5px solid #444;
}

.Sobre_content {
    flex: 1 1 45%; /* O conteúdo ocupa cerca de 45% do espaço disponível */
    padding: 20px;
    background-color: #fcf6f6;
    border-radius: 10px;
}

.sobre_title {
    font-size: 2.5em;
    margin: 0 0 20px;
    text-align: center;
    color: #000000;
}

.row {
    margin: 0;
    padding: 0;
}

.row p {
    font-size: 1em;
    line-height: 1.6;
    color: #000000;
    text-align: justify;
}

/* Responsividade */
@media (max-width: 768px) {
    .sobre_title {
        font-size: 2em;
    }

    .row p {
        font-size: 0.9em;
    }

    .image-content {
        flex-direction: column;
        align-items: center;
    }

    .container_sobre img, .Sobre_content {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .container_sobre {
        padding: 10px;
    }

    .sobre_title {
        font-size: 1.8em;
    }

    .row p {
        font-size: 0.8em;
    }
}
