/* Estilos Gerais */


body{
    font-family:Arial, sans-serif ;
    margin: 0;
    padding: 50px;
}

header, nav, main, footer {

    padding: 10px;

}

/* Estilo de cabeçalho*/

header{
    background-color: rgb(169, 207, 250);
    color: #fff;
    text-align: center;
}

/* estilod enavegação*/

nav ul{
    padding: 20px;
    background-color: rgb(255, 228, 196);
    margin: 0;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}

nav a{
    color: rgb(240, 248, 255);
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

/*Estilo de rodape*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Estilos de seções*/

section{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5xp;

}

h1{
    color: #333;
}