/* styles.css */
/* styles.css */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info, .footer-creators, .footer-social {
    flex: 1 1 100%;
    margin-bottom: 20px;
}

.footer-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.footer-info p {
    font-size: 1em;
    line-height: 1.4;
}

.footer-creators h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.footer-social h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.footer-social .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5em; /* Tamanho do ícone */
    color: #fff; /* Cor do ícone */
    text-decoration: none;
}

.footer-social .social-icon:hover {
    color: #007bff; /* Cor ao passar o mouse (ajuste conforme necessário) */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-info, .footer-creators, .footer-social {
        margin-bottom: 20px;
    }
}


/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-info, .footer-creators, .footer-social {
        margin-bottom: 20px;
    }
}
