body{
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../imagens/cadastro_profissional/background_cadastro_profissional.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
/*caixa de formalrio de fundo transparente*/

.form-send{
    width: 40%;
    box-sizing: border-box;
    padding: 5px;
    color: rgb(255, 255, 255);/*cores das fontes*/
    background-color: rgb(0, 0, 0, 0.8);/*fundo transparente do formulario*/
    border-radius: 10px; /*ondulação da borda da caixa do formulario*/
    font-size: 15px;
}

/*borda do formulario*/
fieldset{
    box-sizing: border-box;
    border: 3px solid rgb(119, 0, 255, 0.973);/*linha da borda que esta na cor lilás*/ 
    border-radius: 15PX;/*ondulação dos cantos da linha de borda" cadastre-se"*/
    padding: 20px;
    
}
/*caixa de legenda*/
legend{
    
    border: 2px solid rgb(0, 247, 255);/*borda da caixa de legenda "Cadastre-se"*/
    padding: 5px;/*altura da caixa de legenda*/
    text-align: center;/*centralização do texto*/
    background-color: rgba(0, 0, 0, 0.3);/*preenchimento da caixa de legenda*/
    border-radius: 10px;/*ondulação da caixa de legenda*/
    font-size: 25px;
    
}

.area_nome, .area_email, .area_password {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
     
}

.area_endereco, .area_estado_cidade {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.area_phone {
  display: flex;
  justify-content: space-between;
  width: 45%;
  box-sizing: border-box;
}

.area_gender {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}


.primary_name, .second_name, .email, .confirm_email, .senha, .confirmar_senha {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* line-height: 25px; */
    
}

.ddd, .numero {
    /* background-color: red; */
    box-sizing: border-box;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.phone, .logradouro {
    /* background-color: blue; */
    box-sizing: border-box;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.logradouro_numero {
    /* background-color: red; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.div_pai_bairro {
    box-sizing: border-box;
    width: 45%;
    display: flex;
}

.bairro {
    box-sizing: border-box;
    width: 55%;
 
}

.estado, .cidade {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 45%;
    justify-content: flex-start;

}


.input_bigger {

    margin-top: 5px;
    box-sizing: border-box;   
    width: 100%;
   
}

.input_smaller {
    margin-top: 5px;
    box-sizing: border-box;
    width: 25%;
   
}

.input_ddd, .input_phone, .input_numero, .input_bairro, .input_logradouro  {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
}

.input_estado, .input_cidade {
    box-sizing: border-box;
    width: 55%;
    margin-top: 5px;
}

label {
    font-weight: bold;
}

input, select {
    border-radius: 5px;
    padding-left: 5px;
    border: none;
    outline: none;
    height: 20px;
 
}

/* input:invalid:focus, select:invalid:focus {
    border-bottom: 2px solid red;

}

input:valid:focus, select:valid:focus {
    border-bottom: 2px solid green;
}

input:focus, select:focus {
    outline: 1px solid aqua;
} */

/* 
.input_logradouro {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
} */