body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    background-image: url(../imagens/cadastro_profissional/background_cadastro_profissional.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 

}
/*caixa de formalrio de fundo transparente*/

.form-send{
    min-width: 550px;
    box-sizing: border-box;
    padding: 15px 15px 40px;
    color: rgb(255, 255, 255);/*cores das fontes*/
    background-color: rgb(0, 0, 0, 0.8);/*fundo transparente do formulario*/
    border-radius: 10px; /*ondulação da borda da caixa do formulario*/
    font-size: 15px;
}

/*borda do formulario*/

fieldset{
    box-sizing: border-box;
    border: 3px solid rgb(119, 0, 255, 0.973); /* linha da borda que esta na cor lilás */ 
    border-radius: 10px; /* ondulação dos cantos da linha de borda "cadastre-se" */
    padding: 20px; 
    
}
/*caixa de legenda*/
legend{
    
    border: 2px solid rgb(0, 247, 255);/*borda da caixa de legenda "Cadastre-se"*/
    padding: 5px;/*altura da caixa de legenda*/
    text-align: center;/*centralização do texto*/
    background-color: rgba(0, 0, 0, 0.3);/*preenchimento da caixa de legenda*/
    border-radius: 10px;/*ondulação da caixa de legenda*/
    font-size: 25px;
    
}

.area_nome, .area_email, .area_password {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
     
}

.area_endereco, .area_estado_cidade {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.area_phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 45%;
  box-sizing: border-box;
}

.area_genero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 2px;
}


.primary_name, .second_name, .enter_email, .confirm_email, .senha, .confirmar_senha {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* line-height: 25px; */
    
}

.ddd, .numero {
    /* background-color: red; */
    box-sizing: border-box;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.phone {
    box-sizing: border-box;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.div-pai_logradouro {
    /* background-color: red; */
    box-sizing: border-box;
    width: 45%;
}

/* .logradouro {
   
} */

.numero_bairro {
    box-sizing: border-box;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.bairro {
    box-sizing: border-box;
    width: 55%;
 
}

.estado, .cidade {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 45%;
    justify-content: flex-start;

}


.input_smaller {
    margin-top: 5px;
    box-sizing: border-box;
    width: 25%;
   
}

.input_ddd, .input_phone, .input_numero, .input_bairro, .input_logradouro, .input_bigger  {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
}

.input_estado, .input_cidade {
    box-sizing: border-box;
    width: 55%;
    margin-top: 5px;
}

input, select {
    border-radius: 5px;
    padding-left: 5px;
    border: none;
    outline: none;
    height: 25px;
 
}

.button {
    float: left;
    margin-top: 15px;
    background: linear-gradient(90deg, rgba(185, 133, 243, 0.973), rgb(119, 0, 255, 0.973));
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    border-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 25px;
    letter-spacing: 1px;
}

input:invalid:focus, select:invalid:focus {
    border: 2px solid red;

}

input:valid:focus, select:valid:focus {
    border: 2px solid green;
}

/* 
.input_logradouro {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
} */