/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color:#62dac6; /* Define variaveis globais CSS que podem ser usadas em todo o documento */
}

html{

  font: 400 62.5% 'Inter', sans-serif; /*técnica de ajuste de tamanho de fonte para facilitar o uso de unidades de medidas relativas.*/

}
p,
a {
  font-size: 1.6rem;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
nav a{
  color: inherit; /* Eles herdam a cor do texto do elemento pai.*/
}
.upper {
  text-transform: uppercase;
}    
.btn {
      background-color: var(--primary-color);
      border-radius: 4px;
      font-size: 1.8rem;
      text-decoration: none;
      padding: 1.6rem 4.6rem;
      display: inline-block;
}
.wrapperContainer {
  padding-top: 1px;
}
.wrapperContainer-dark {
  background-color: rgb(54, 54, 54);
  color: #fafafa;
  
}
.wrapperContainer-light {
  background-color: #fafafa;
}
.wrapperContainer-dark2 {
  background-color: #9098af;
  color: #fafafa;
}
.wrapperContainer-fixed {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}
.wrapperContainer-padded{
  padding: 12rem;
}
.container {
  max-width: 127.6rem;
  margin: auto;
}
.section-title  {
  padding: 7rem 0;
  text-align: center;
  margin: 0;
}
.section-btn  {
  margin: 7rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: var(--primary-color);
  padding: 2rem 0;
      
}
.header_nav a {
  padding: .75em 1.15em;
  border: solid 1px;
  text-decoration: none;

}
.header_nav ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
.header_nav a:hover {
  background-color: rgb(47, 134, 160);


}

section {
  padding-bottom: 20px;
}

.navbar_navbar-expand-l_navbar-light_bg-light{
  font-size: 40'Inter', sans-serif; /* Tamanho grande */
  text-align: center; /* Texto centralizado */
  background-color: #449890;
  color: #efefef;
 
}

.navbar-brand:hover {
  color: #4a204a; /* Cor do texto ao passar do mouse */
  background-image: linear-gradient(aqua);
}


.carousel_slide {
  width: 900px;
  padding-top: 30px;
  margin: 0 auto; /* Isso centralizará o carrossel na página, se necessário */
}



.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:s;
  align-items: center;
  margin-bottom: 300px;
  margin-top: 100px;
  gap: 20px; /* Espaço entre os cartões */
}

.card {
  flex: 1 1 300px; /* Crescimento flexível, encolhimento flexível, largura inicial */
  background-color: #cee9e5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px; /* Altura fixa para os cartões */
  display: flex;
  flex-direction: column;
}



.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10 px;
}

.card h3{
  margin-bottom: 10px;
}

.card p{
  color: #666;
}
.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s ease-in-out;
    
 }


 


.footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
    color: #efefef;
    background-image: linear-gradient(transparent, rgb(44, 46, 45));
    background-color: black;

}

.footer a {
    color: inherit;
    color: #ccc;
}