@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit sans-serif;
}
body{
    height: 100vh;
}

nav.menu-lateral{
    width: 300px;
    height: 100%;
    background: linear-gradient(90deg, #1b265a, #f8cdda);
    padding: 40px 0 40px 1%;
    
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir >i {

    color: white;
    font-size: 24px;

}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-lateral a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;

}

ul li.item-lateral a i .txt-link{
    margin-right: 40px;
}