body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.header {
    grid-area: header;
    height: 70px;
}

.asidebar {
    grid-area: sidebar;
    height: 100%;

}


.main-container {
    grid-area: main;
    background-color: beige;

}