@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header_nav1 {
  margin: 0;
  margin-right: 10px;
}
.header_nav1 li {
  margin-bottom: 10px;
}
.header_nav1 a {
  text-decoration: none;
  color: #f1f5f4;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid fixed;
  transition: all 0.3s ease;
  align-items: center;
}
.header_nav1 a:hover {
  background-color: #59bab2;
  border-color: #4abed2;
}
section {
  padding-bottom: 20px;
}
h1{
  color:#fbfafa;
}


.cards  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card   {
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #27837a;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10 px;
}

.card h3{
  margin-bottom: 10px;
}

.card p{
  color: #666;
}
.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    
 }


 
 .navbar-expand-lg-navbar-light-bg-light{
    background-image: linear-gradient(transparent, rgb(58, 161, 135));
    /* Estilo para os cards */


/* Estilo para o efeito hover na imagem */
.card-img-top {
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/* Para responsividade */
@media (max-width: 768px) {
  .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
   
}
 

 nav {
    display: flex;
    /*Jogar os itens para o canto da página*/
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(42, 38, 38);
    font-family: 'Poppins', sans-serif;
  }

  .logo {
    /*Mudando a cor da fonte do nome*/
    color: white;
    /*Deixando o texto formatado*/
    text-transform: uppercase;
    /*Mudando o espaçamento das letras*/
    letter-spacing: 30px;
    /*Tamaho da letra*/
    font-size: 20px;

  }

  .nav-links {
    /*Ajustando o tamanho e posição dos itens*/
    display: flex;
    justify-content: space-around;
    width: 30%;

  }

  .nav-links li {
    /*Sumindo com os pontos que ficavam nos itens*/
    list-style: none;


  }

  .nav-links a {
    /*Mudando a cor dos itens*/
    color: white;
    /*Mudando o espaçamento das letras dos itens*/
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }

  .burger {
    /*Não deixando o menu hambuguer visivel */
    display: none;
    /*aparecendo a maozinha quando clica no menu hambuguer*/
    cursor: pointer;
  }

  .burger div {
    /*Ajeitando o menu Hambuguer*/
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  /*Ajustando a altura*/
  @media screen and (max-width:1024px) {
    .nav-links {
      width: 60%;
    }
  }

  /*Ajustando a altura minima*/
  @media screen and (max-width:768px) {
    body {
      overflow-x: hidden;
    }

    /*ajustando os itens para se adequar a altura min.*/
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      /*Arrumando o menu*/
      background-color: rgb(40, 113, 122);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      /*Ajeitando a transição parar abrir o menu*/
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }

    .nav-links li {
      opacity: 0;
    }

    .burger {
      /*para aparecer o menu quando a tela tiver pequena*/
      display: block;
    }
  }

  /*Quando se clica no menu , consegue abrir os itens*/
  .nav-active {
    transform: translateX(0%);
  }

  /*Animações quando se clica no menu*/
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /*Transformando o menu em X*/
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;

  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }


  @media screen and (max-width: 768px) {
    .nav-links.nav-active li {
      opacity: 1;
    }
  }


/* Estilos para o carrossel */
.carousel-item img {
  width: 100%;
  height: 450px;
  object-fit: cover; /* Garante que a imagem preencha completamente o espaço do contêiner */
}

.carousel-control-prev, .carousel-control-next {
  width: 10%; /* Largura dos controles de navegação */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 40px; /* Tamanho dos ícones de navegação */
  height: 40px;
}

/* Estilos para tornar o carrossel responsivo */
@media (max-width: 768px) {
  .carousel-item img {
      max-height: 300px; /* Altura máxima do banner em telas menores */
  }
}






.footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
    color: #efefef;
    background-image: linear-gradient(transparent, rgb(58, 161, 135));
    background-color: black;

}

.footer a {
    color: inherit;
    color: #ccc;
}