body {
    background-color: rgb(243, 226, 229);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.carousel {
    overflow: hidden;
    width: 500px;
}

.wrap {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-items: stretch;
    animation: slide 15s linear infinite;
}

.wrap img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

@keyframes slide {
    to {
        transform: translateX(-100%);
    }
}
