body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.form{
    width: 35%;
    box-sizing: border-box;
    padding: 15px 15px 40px;
    color: rgb(255, 255, 255);/*cores das fontes*/
    background-color: rgb(0, 0, 0, 0.8);/*fundo transparente do formulario*/
    border-radius: 10px; /*ondulação da borda da caixa do formulario*/
    font-size: 15px;
}

fieldset{
    box-sizing: border-box;
    border: 3px solid rgb(25, 0, 255);/*borda do fieldset*/
    padding-top: 10px; /*altura do fieldset*/
    border-radius: 10px;
    
}

legend{
    border: 2px solid rgb(0, 247, 255);/*borda da caixa de legenda "Cadastre-se"*/
    padding: 5px;/*altura da caixa de legenda*/
    text-align: center;/*centralização do texto*/
    background-color: rgba(0, 0, 0, 0.3);/*preenchimento da caixa de legenda*/
    border-radius: 10px;/*ondulação da caixa de legenda*/
    font-size: 25px;

}

.area_name, .area_email, .area_password {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.area_phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
}

.primary_name, .second_name, .enter_email, .confirm_email, .enter_password, .confirm_password {
    display: flex;
    flex-direction: column;
    width: 45%;
    box-sizing: border-box;
}

.date_birth, .cpf {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.ddd {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 22%;
}

.phone_number {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 55%;

}

.input_primary_name, .input_second_name, .input_enter_email, .input_confirm_password, .input_enter_password, .input_confirm_password {
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
}

.input_date_birth, .input_cpf, .select_genero {
    box-sizing: border-box;
    width: 25%;
}

input, select {
    border-radius: 5px;
    padding-left: 5px;
    border: none;
    outline: none;
    height: 25px;
    margin-top: 5px;
}


 
.aviso h6{
    margin: 4px;
    float: 20px;
}

button{
    background-color: #000000;
    border-radius: 5px;
    border-color: aqua;
    font-size: 15px;
    color: rgb(252, 252, 252);
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/*

label{
    margin:1px;
    left: 91px;
}

.date{
    float: right;
} */


/* .inputUser{
    margin:0px;
    padding: 2px;
    top: 20ps;
    left: 40px;
    text-align: center;
}

.inf_password h6{
    line-height: 1px;
    font-size: 10px;
} */

/* ::-webkit-input-placeholder{
    color: rgb(134, 134, 143);
    text-align: center;
} */