html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    background: linear-gradient(90deg, #1d2b64, #f8cdda);
    background-size: cover;
    justify-content: center;
    align-items: center;
  
}
  
  #cadastre-se {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    font-weight: bolder;
  }

.container {
    justify-content: center;
    align-items: center;
    width: 30%;
}

.form1{
    width: 100%;
    max-width: 360px;
    color: black;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.btn {
    background-color: #eceef0;
    color: rgb(15, 15, 15);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #66f;

}

.link {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;

}

.link:hover {
    text-decoration: underline; 
}
p, h1{
    text-align: center;
}

/*/////////////////* BACK ////////////////*/
.flip-card {

    position: absolute;
    width: 100%;
    height: 100vh;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Estilo para as linhas do formulário */
.form .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Estilo para os elementos dentro das linhas */
.form .row > div {
    flex: 1;
    margin-right: 10px;
}

/* Remove a margem direita da última div em uma linha */
.form .row > div:last-child {
    margin-right: 0;
}

/* Ajustes para elementos específicos */
.form .input_smaller,
.form .input_bigger,
.form .input_estado,
.form .input_cidade {
    width: 100%;
}

/* Ajuste de largura para os campos de endereço */
.form .bairro, .form .logradouro, .form .numero {
    flex-basis: 30%; /* Ajuste conforme necessário */
}

/* Largura para botões */
.form button.button {
    width: 30%;
    text-align: center;
    padding: 10px;
    margin-left: 35%;;
    
}
.form button.button:hover{
    background-color: #66f;
}

#telefone{
    padding: 10px;
    border-radius: 5px;
    width: 85%;
}

.form h1{
    
    color: rgb(15, 15, 15);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    
}
