html, body {
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(90deg, #1d2b64, #f8cdda);
    background-size: cover;
  
}

.dropdown {
    position: relative;
    /* display: inline-block; */
  }

  #cadastre-se {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    font-weight: bolder;
  }

  #cadastre-se:hover{
    color: rgb(13, 69, 250);
  }


  .dropdown-options {
    display: none;
    position: absolute;
    left: 180px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 150px;
    z-index: 1;
  }

  .dropdown-options li {
    padding: 10px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }

  .dropdown-options li a {
    text-decoration: none;
    color:blue;
    font-weight: bolder;
  }

  .dropdown-options li:hover {
    background-color: #e3e3e4;
    border-radius: 5px;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flip-card-container {

    width: 420px;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 800px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.flip-card .card-front{
    position: absolute;
    width: 100%;
    height: 100vh;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card .card-back {
    transform: rotateY(180deg);
}

.form1{
    width: 100%;
    max-width: 360px;
    color: black;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.btn {
    background-color: #eceef0;
    color: rgb(15, 15, 15);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #66f;

}

.link {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;

}

.link:hover {
    text-decoration: underline;
}
p, h1{
    text-align: center;
}

/*/////////////////* BACK ////////////////*/
.flip-card .card-back{

    position: absolute;
    width: 110%;
    height: 100vh;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Estilo para as linhas do formulário */
.form .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Estilo para os elementos dentro das linhas */
.form .row > div {
    flex: 1;
    margin-right: 10px;
}

/* Remove a margem direita da última div em uma linha */
.form .row > div:last-child {
    margin-right: 0;
}

/* Ajustes para elementos específicos */
.form .input_smaller,
.form .input_bigger,
.form .input_estado,
.form .input_cidade {
    width: 100%;
}

/* Ajuste de largura para os campos de endereço */
.form .bairro, .form .logradouro, .form .numero {
    flex-basis: 30%; /* Ajuste conforme necessário */
}

/* Largura para botões */
.form button.button {
    width: 30%;
    text-align: center;
    padding: 10px;
    margin-left: 35%;;
    
}
.form button.button:hover{
    background-color: #66f;
}

#telefone{
    padding: 10px;
    border-radius: 5px;
    width: 85%;
}

.form h1{
    
    color: rgb(15, 15, 15);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    
}

#interesse{
 width: 100%;

}