body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #66f;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

.login-icon {
    position: relative;
}

.login-icon img {
    width: 30px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

main {
    padding: 20px;
    border: #007BFF;
}

p{
    font-weight: bolder;


}
img{
    text-align: center;
}

.historico-atividades {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
