@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
.navbar > .container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;

  }
}


/* perfil */
.profile{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

/* carrossel */

#carouselExample{
  padding: 40px;
}

.carousel-inner {
  height: 500px;     /* Altura do carrossel */
  width: 300px;     /* Largura do carrossel */
  overflow: hidden;   /* Esconde qualquer parte da imagem que exceda o contêiner */
}

.carousel-inner img {
  height: 100%;    /* A imagem ocupa 100% da altura do contêiner */
  width: 100%;     /* A imagem ocupa 100% da largura do contêiner */
  object-fit: cover; /* A imagem será cortada para preencher o contêiner, mantendo a proporção */
}



/* FOOTER css */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-info, .footer-creators, .footer-social {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
  
  .footer-info h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .footer-info p {
    font-size: 1em;
    line-height: 1.4;
  }
  
  .footer-creators h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
  
  .footer-social h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
  
  .footer-social .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5em; /* Tamanho do ícone */
    color: #fff; /* Cor do ícone */
    text-decoration: none;
  }
  
  .footer-social .social-icon:hover {
    color: #007bff; /* Cor ao passar o mouse (ajuste conforme necessário) */
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
  
    .footer-info, .footer-creators, .footer-social {
        margin-bottom: 20px;
    }
  }
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .photo-section {
    margin: 15px;
    flex: 0 1 30%; /* Ajuste a largura das fotos para ocupar 30% do contêiner */
    max-width: 300px; /* Largura máxima para manter a consistência */
  }

  .img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
    /* filter: grayscale(1) brightness(0.5); */
}


.imagem:hover p{
  transform: translateY(0); 
  opacity: .8;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 100px 100px 100px;
}
.column{
  flex: 25%;
  max-width: 25%;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition:  transform 1s ease;
    transform: scale(1.5);   
    filter: grayscale(0) brightness(1);
}
.img-hover-zoom:hover img{
    transform: scale(1);
    filter: grayscale(0) brightness(1);
}

  
  
  .photo-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }

  
  
  .photo-card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
  
  .main-photo {
    width: 20%; /* Faz a imagem ocupar toda a largura do cartão */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .photo-comment {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #000000; /* Cor do texto dos comentários */
    background-color: #f9f9f9; /* Fundo leve para os comentários */
    border-top: 1px solid #ccc; /* Linha separadora acima do comentário */
  }
  



  .container-coments {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%; /* Torna o contêiner circular */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Para esconder o conteúdo que ultrapassa o círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentarios {
    text-align: center;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
