body {
    /* background: linear-gradient(90deg, #1d2b64, #f8cdda);  */
    font-family: Arial, sans-serif;
    background-image: url("../imagens/photoCamera02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(140, 149, 153, 0.3);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    display: inline-block;
    text-align: center;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.5);
}   

h2 {
    color: #fff;
    text-align: center;
    padding-top: 50px;
}


label {
    display: block;
    margin-bottom: 8px;
    color:rgba(255,255,255);

}

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {

    /* background-color: rgba(39, 37, 95, 0.7); */
    background-color:#3e69e0;
    color: white;
    padding: 10px 50px;
    border-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    float: center;
    margin-bottom: 10px;
  
}

button:hover {
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
}